# Kieran Molloy UCDPA Project 
### Course CIDAB 2022-01-18
***

### Environment Information
<table align="left">
<tr>
    <th>Environment Type</th>
    <th>Anaconda Version</th>
    <th>Anaconda Build Channel</th>
    <th>Python Version</th>
</tr>
<tr>
    <td>Anaconda </td>
    <td>2021.11 </td>
    <td>py39_0 </td>
    <td>3.9.7 </td>
</tr>
</table>

## Links to Kaggle Datasource: 
***

#### _[Transactional Retail Dataset of Electronics Store](https://www.kaggle.com/datasets/muhammadshahrayar/transactional-retail-dataset-of-electronics-store)_

*  _[dirty_data.csv](https://www.kaggle.com/datasets/muhammadshahrayar/transactional-retail-dataset-of-electronics-store?select=dirty_data.csv)_
*  _[missing_data.csv](https://www.kaggle.com/datasets/muhammadshahrayar/transactional-retail-dataset-of-electronics-store?select=missing_data.csv)_
*  _[warehouses.csv](https://www.kaggle.com/datasets/muhammadshahrayar/transactional-retail-dataset-of-electronics-store?select=warehouses.csv)_

## Install Modules

In [394]:
# %pip install geopy

## Import Modules
***

In [395]:
from matplotlib import pyplot as plt
from IPython.display import display 

import pandas as pd
import numpy as np
import seaborn as sns

from geopy.distance import geodesic

## Set Variables
***

In [396]:
dirty_data = 'dirty_data.csv'
missing_data = 'missing_data.csv'
warehouses = 'warehouses.csv'

## Functions
***

In [448]:
def get_missing_nearest_warehouse(lat , Long ):
    ''' use coordinates to find the closest warehouse '''
    
    # customer coordinates are provided
    coords_customer = lat, Long
    
    # get warehouse latitude and longitide from warehouse table
    coords_Nickolson = df_warehouses['lat'].loc[df_warehouses.index[0]], df_warehouses['lon'].loc[df_warehouses.index[0]]
    coords_Thompson = df_warehouses['lat'].loc[df_warehouses.index[1]], df_warehouses['lon'].loc[df_warehouses.index[1]]
    coords_Bakers = df_warehouses['lat'].loc[df_warehouses.index[2]], df_warehouses['lon'].loc[df_warehouses.index[2]]
    
    # use geodesic to do a km distance comparison
    Nickolson_cust_dist = geodesic(coords_customer, coords_Nickolson).km
    Thompson_cust_dist = geodesic(coords_customer, coords_Thompson).km
    Bakers_cust_dist = geodesic(coords_customer, coords_Bakers).km
    
    val = (Nickolson_cust_dist ,Thompson_cust_dist ,Bakers_cust_dist)
    
    x = val.index(min(val))
    
    if x == 0:
        warehouse = 'Nickolson'
        distance = Nickolson_cust_dist
        return(warehouse , distance)
    elif x == 1:
        warehouse = 'Thompson'
        distance = Nickolson_cust_dist
        return(warehouse , distance)
    else: 
        warehouse = 'Bakers'
        distance = Nickolson_cust_dist
        return(warehouse , distance)

In [398]:
def get_missing_order_price(order_total, delivery_charges, coupon_discount):
    ''' calculate order_price from order_total, delivery_charges and coupon_discount '''
    order_price = (order_total - delivery_charges) / (100-coupon_discount) * 100
    return(round(order_price, 2))

In [439]:
def get_missing_order_total(order_price, delivery_charges, coupon_discount):
    ''' calculate order_total from order_price, delivery_charges and coupon_discount'''
    order_total = order_price - (order_price / 100 * coupon_discount) + delivery_charges
    return(round(order_total, 2))

In [441]:
get_missing_order_total(9080,62.71,0)

9142.71

## CSV import 
***

In [399]:
# read the CSV from the local Jupyter Notebook directory 
df_dirty_data = pd.read_csv(dirty_data)
df_missing = pd.read_csv(missing_data)
df_warehouses = pd.read_csv(warehouses)

## Initial CSV Review
***

### df_dirty_data dataframe

In [400]:
type(df_dirty_data)

pandas.core.frame.DataFrame

In [401]:
df_dirty_data.head(10)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False
2,ORD494479,ID0579391891,2019-03-02,Nickolson,"[('Thunder line', 1), ('pearTV', 2)]",10670,65.87,-37.821302,144.957581,10,9668.87,Autumn,False,1.0949,five stars this is a great cheap phone.,True
3,ORD019224,ID4544561904,2019-01-12,Nickolson,"[('Universe Note', 1), ('Alcon 10', 2), ('Oliv...",24800,57.61,-37.811416,144.973073,15,21137.61,Summer,False,0.8571,charger did not fit the charger didn't fit.,False
4,ORD104032,ID6231506320,2019-11-28,Nickolson,"[('Universe Note', 1), ('Olivia x460', 1), ('i...",9145,75.54,37.823859,144.969892,25,6934.29,Spring,False,0.5867,four stars good,True
5,ORD146760,ID0311654900,2019-09-16,Bakers,"[('Thunder line', 2), ('Universe Note', 1)]",7810,71.22,37.820245,145.014944,10,7100.22,Spring,False,2.0752,stolen phone sold us a stolen phone so we coul...,False
6,ORD337984,ID3394768956,2019-09-14,Thompson,"[('Candle Inferno', 1), ('Alcon 10', 1), ('Tos...",13700,74.84,-37.807743,144.951570,5,13089.84,Spring,False,0.6767,"love our inferno stick,easy to set up and have...",True
7,ORD072312,ID0774517121,2019-05-23,Thompson,"[('Universe Note', 1), ('Thunder line', 2), ('...",7960,52.28,-37.806337,144.959544,5,10789.79,Autumn,False,1.3043,it sucks mine came with dead pixels,False
8,ORD377837,ID4769265355,2019-10-09,Bakers,"[('Alcon 10', 2), ('Thunder line', 1), ('Candl...",25390,107.58,-37.810810,145.014073,10,22958.58,Spring,True,1.6595,this is how top phone should look like! super ...,True
9,ORD462194,ID5301568579,2019-03-21,Thompson,"[('Universe Note', 1), ('Lucent 330S', 1), ('T...",13320,62.26,-37.808675,144.942337,15,11384.26,winter,True,0.6093,does not live up to its reputation. customer s...,False

In [402]:
# using display for better formatting in Notebook , use print usually
display(df_dirty_data.describe())

,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,distance_to_nearest_warehouse
count,500.000000,500.000000,500.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,25522.216000,76.658200,-35.835234,144.969494,10.890000,3.920967e+04,2.204224
std,86333.729169,14.481465,12.045393,0.022720,8.649134,2.741940e+05,8.812416
min,585.000000,46.350000,-37.827123,144.924967,0.000000,6.392900e+02,0.107800
25%,7050.000000,65.982500,-37.818222,144.953488,5.000000,6.454735e+03,0.751425
50%,12807.500000,76.310000,-37.812165,144.965357,10.000000,1.129396e+04,1.030100
75%,20360.000000,82.555000,-37.805364,144.983985,15.000000,1.811919e+04,1.408625
max,947691.000000,114.040000,37.826339,145.019837,25.000000,5.688270e+06,94.973400

In [403]:
print(df_dirty_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    object
 3   nearest_warehouse              500 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    500 non-null    int64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   500 non-null    float64
 8   customer_long                  500 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    500 non-null    float64
 11  season                         500 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  500 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              500 non-null    bool
dtypes: bool(2), float64(5), int64(2), object(7)
memory usage: 55.8+ KB
None

In [404]:
print(df_dirty_data.isna().any())

order_id                         False
customer_id                      False
date                             False
nearest_warehouse                False
shopping_cart                    False
order_price                      False
delivery_charges                 False
customer_lat                     False
customer_long                    False
coupon_discount                  False
order_total                      False
season                           False
is_expedited_delivery            False
distance_to_nearest_warehouse    False
latest_customer_review           False
is_happy_customer                False
dtype: bool

In [405]:
print(df_dirty_data.isnull().sum())

order_id                         0
customer_id                      0
date                             0
nearest_warehouse                0
shopping_cart                    0
order_price                      0
delivery_charges                 0
customer_lat                     0
customer_long                    0
coupon_discount                  0
order_total                      0
season                           0
is_expedited_delivery            0
distance_to_nearest_warehouse    0
latest_customer_review           0
is_happy_customer                0
dtype: int64

### df_missing_data dataframe

In [406]:
type(df_missing_data)

pandas.core.frame.DataFrame

In [407]:
df_missing_data.head(10)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD382112,ID0289597187,2019-03-06,Thompson,"[('pearTV', 1), ('Candle Inferno', 2)]",7170.0,61.72,-37.811782,144.951972,15,6156.22,Autumn,True,0.4425,"to many adds in ui it has adds, sends info to ...",False
1,ORD378488,ID1668523020,2019-05-05,Thompson,"[('Thunder line', 1), ('Lucent 330S', 2), ('Al...",13590.0,65.20,-37.808236,144.942181,10,12296.20,Autumn,False,0.6547,s10e haven't had this phone but a short time b...,True
2,ORD279446,ID0370751503,2019-03-24,Bakers,"[('Candle Inferno', 2), ('Universe Note', 1)]",4310.0,78.75,-37.812941,144.985883,15,3742.25,NaN,True,0.8852,best bang for your buck! great overall android...,True
3,ORD277196,ID0634774947,2019-01-12,Thompson,"[('pearTV', 1), ('Thunder line', 1), ('Olivia ...",10940.0,92.59,-37.811748,144.938192,25,8297.59,Summer,True,0.7875,good it was a gift for my niece. it to her in ...,True
4,ORD116193,ID3313210924,2019-09-02,Nickolson,"[('pearTV', 2), ('Universe Note', 2), ('Thunde...",21700.0,95.62,-37.818393,144.967034,5,20710.62,Spring,True,0.2225,"excellent product excellent product, was recei...",True
5,ORD005004,ID0472236192,2019-05-07,Nickolson,"[('Thunder line', 2), ('Lucent 330S', 2)]",6820.0,84.09,-37.801502,144.966104,0,6904.09,Autumn,True,1.9268,i love it very nice and good product would rec...,True
6,ORD296379,ID0591306178,2019-01-19,Nickolson,"[('Thunder line', 1), ('pearTV', 1)]",8490.0,77.51,-37.823700,144.956314,0,8567.51,Summer,False,1.2953,great phone great phone i am still using that ...,True
7,ORD447851,ID0591430562,2019-02-07,Nickolson,"[('Alcon 10', 2), ('Toshika 750', 2), ('Univer...",32440.0,67.27,-37.817412,144.967590,5,30885.27,Summer,False,0.2169,"five stars it was a gift, my nephew is loving it.",True
8,ORD078449,ID0030287324,2019-10-20,Nickolson,"[('Olivia x460', 2), ('iAssist Line', 2)]",6900.0,105.50,-37.807081,144.967288,15,5970.50,Spring,True,1.2971,definitively would buy again. has been great t...,True
9,ORD018258,ID0245537598,2019-05-27,Nickolson,"[('Universe Note', 1), ('Lucent 330S', 1), ('i...",7205.0,65.39,-37.810164,144.966819,15,6189.64,Autumn,False,0.9688,my best snapchat phone my snapchats are crysta...,True

In [408]:
# using display for better formatting in Notebook , use print usually
display(df_missing_data.describe())

,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,distance_to_nearest_warehouse
count,500.000000,500.000000,490.000000,490.000000,500.000000,490.000000,490.000000
mean,13335.610000,77.683380,-37.812597,144.966114,11.190000,11939.841020,1.077335
std,7660.112089,14.566667,0.007593,0.021054,8.734213,7032.605471,0.509914
min,580.000000,46.200000,-37.828216,144.921217,0.000000,568.640000,0.054900
25%,7160.000000,66.975000,-37.818755,144.951541,5.000000,6486.542500,0.723625
50%,12357.500000,77.275000,-37.813053,144.963409,10.000000,10756.615000,1.043350
75%,18392.500000,85.217500,-37.806714,144.980157,15.000000,16315.555000,1.389525
max,37300.000000,110.990000,-37.788265,145.017015,25.000000,37362.470000,3.138800

In [409]:
print(df_missing_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    datetime64[ns]
 3   nearest_warehouse              500 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    500 non-null    float64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   490 non-null    float64
 8   customer_long                  490 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    500 non-null    float64
 11  season                         490 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  500 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              490 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(1), object(7)
memory usage: 59.2+ KB
None

In [410]:
print(df_missing_data.isna().any())

order_id                         False
customer_id                      False
date                             False
nearest_warehouse                False
shopping_cart                    False
order_price                      False
delivery_charges                 False
customer_lat                      True
customer_long                     True
coupon_discount                  False
order_total                       True
season                            True
is_expedited_delivery            False
distance_to_nearest_warehouse     True
latest_customer_review           False
is_happy_customer                 True
dtype: bool

In [467]:
print(df_missing_data.isnull().sum())

order_id                          0
customer_id                       0
date                              0
nearest_warehouse                 0
shopping_cart                     0
order_price                       0
delivery_charges                  0
customer_lat                     10
customer_long                    10
coupon_discount                   0
order_total                       0
season                           10
is_expedited_delivery             0
distance_to_nearest_warehouse     0
latest_customer_review            0
is_happy_customer                10
dtype: int64

### df_warehouses dataframe

In [412]:
type(df_warehouses)

pandas.core.frame.DataFrame

In [413]:
df_warehouses.head()

       names        lat         lon
0  Nickolson -37.818595  144.969551
1   Thompson -37.812673  144.947069
2     Bakers -37.809996  144.995232

In [414]:
# using display for better formatting in Notebook , use print usually
display(df_warehouses.describe())

             lat         lon
count   3.000000    3.000000
mean  -37.813755  144.970617
std     0.004400    0.024099
min   -37.818595  144.947069
25%   -37.815634  144.958310
50%   -37.812673  144.969551
75%   -37.811335  144.982392
max   -37.809996  144.995232

In [415]:
print(df_warehouses.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   3 non-null      object
 1   lat     3 non-null      float64
 2   lon     3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes
None

In [416]:
print(df_warehouses.isna().any())

names    False
lat      False
lon      False
dtype: bool

In [417]:
print(df_warehouses.isnull().sum())

names    0
lat      0
lon      0
dtype: int64

## Re-import from CSV 
***

In [418]:
# read the CSV from the local Jupyter Notebook directory 
# parsing dates on import since dates were objects
df_dirty_data = pd.read_csv(dirty_data, parse_dates=['date'],dtype={'order_price': 'float'}) 
df_missing_data = pd.read_csv(missing_data, parse_dates=['date']) 
#  cant use dtype={'is_happy_customer': 'bool'} because is_happy_customer contains NaN

In [419]:
print(df_dirty_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    datetime64[ns]
 3   nearest_warehouse              500 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    500 non-null    float64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   500 non-null    float64
 8   customer_long                  500 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    500 non-null    float64
 11  season                         500 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  500 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              500 non-null    bool
dtypes: bool(2), datetime64[ns](1), float64(6), int64(1), object(6)
memory usage: 55.8+ KB
None

In [420]:
print(df_missing_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    datetime64[ns]
 3   nearest_warehouse              490 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    490 non-null    float64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   490 non-null    float64
 8   customer_long                  490 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    490 non-null    float64
 11  season                         490 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  490 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              490 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(6), int64(1), object(7)
memory usage: 59.2+ KB
None

## Detect and fix errors in dirty_data
***

## Fix missing values in missing_data
***

### missing 'nearest_warehouse'

In [421]:
# checking the missing values for nearest_warehouse
nearest_warehouse_indexto_update = df_missing_data[df_missing_data['nearest_warehouse'].isnull()].index

for i in nearest_warehouse_indexto_update:
    df_missing_data.at[i,'nearest_warehouse'] = get_missing_nearest_warehouse(df_missing_data.at[i,'customer_lat'],df_missing_data.at[i,'customer_long'])[0]

In [422]:
# no more missing values for nearest_warehouse
df_missing_data[df_missing_data['nearest_warehouse'].isnull()].index

Int64Index([], dtype='int64')

In [ ]:
# check the indexes 'nearest_warehouse' --  all done
for i in nearest_warehouse_indexto_update:
    print(df_missing_data.at[i,'nearest_warehouse'])

### missing 'order_price'

In [424]:
# checking the missing values for order_price
order_price_indexto_update = df_missing_data[df_missing_data['order_price'].isnull()].index

for i in order_price_indexto_update:
    df_missing_data.at[i,'order_price'] = get_missing_order_price(df_missing_data.at[i,'order_total'],df_missing_data.at[i,'delivery_charges'],df_missing_data.at[i,'coupon_discount'])

In [425]:
# no more missing values for order_price
df_missing_data[df_missing_data['order_price'].isnull()]

Empty DataFrame
Columns: [order_id, customer_id, date, nearest_warehouse, shopping_cart, order_price, delivery_charges, customer_lat, customer_long, coupon_discount, order_total, season, is_expedited_delivery, distance_to_nearest_warehouse, latest_customer_review, is_happy_customer]
Index: []

In [ ]:
# check the indexes 'nearest_warehouse' --  all done
for i in order_price_indexto_update:
    print(df_missing_data.at[i,'order_price'])

### missing 'order_total'

In [443]:
# checking the missing values for order_total
order_total_indexto_update = df_missing_data[df_missing_data['order_total'].isnull()].index

for i in order_total_indexto_update:
    df_missing_data.at[i,'order_total'] = get_missing_order_price(df_missing_data.at[i,'order_price'],df_missing_data.at[i,'delivery_charges'],df_missing_data.at[i,'coupon_discount'])

In [444]:
# no more missing values for order_price
df_missing_data[df_missing_data['order_total'].isnull()]

Empty DataFrame
Columns: [order_id, customer_id, date, nearest_warehouse, shopping_cart, order_price, delivery_charges, customer_lat, customer_long, coupon_discount, order_total, season, is_expedited_delivery, distance_to_nearest_warehouse, latest_customer_review, is_happy_customer]
Index: []

In [ ]:
# check the indexes 'nearest_warehouse' --  all done
for i in order_total_indexto_update:
    print(df_missing_data.at[i,'order_total'])

### missing 'season'

In [463]:
df_missing_data

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD382112,ID0289597187,2019-03-06,Thompson,"[('pearTV', 1), ('Candle Inferno', 2)]",7170.0,61.72,-37.811782,144.951972,15,6156.22,Autumn,True,0.4425,"to many adds in ui it has adds, sends info to ...",False
1,ORD378488,ID1668523020,2019-05-05,Thompson,"[('Thunder line', 1), ('Lucent 330S', 2), ('Al...",13590.0,65.20,-37.808236,144.942181,10,12296.20,Autumn,False,0.6547,s10e haven't had this phone but a short time b...,True
2,ORD279446,ID0370751503,2019-03-24,Bakers,"[('Candle Inferno', 2), ('Universe Note', 1)]",4310.0,78.75,-37.812941,144.985883,15,3742.25,NaN,True,0.8852,best bang for your buck! great overall android...,True
3,ORD277196,ID0634774947,2019-01-12,Thompson,"[('pearTV', 1), ('Thunder line', 1), ('Olivia ...",10940.0,92.59,-37.811748,144.938192,25,8297.59,Summer,True,0.7875,good it was a gift for my niece. it to her in ...,True
4,ORD116193,ID3313210924,2019-09-02,Nickolson,"[('pearTV', 2), ('Universe Note', 2), ('Thunde...",21700.0,95.62,-37.818393,144.967034,5,20710.62,Spring,True,0.2225,"excellent product excellent product, was recei...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ORD289820,ID0711745634,2019-06-24,Thompson,"[('Toshika 750', 1), ('Lucent 330S', 2), ('Can...",10660.0,46.20,-37.815309,144.945919,15,9107.20,Winter,False,0.3104,batera daada hola. la batera se da. donde...,False
496,ORD425999,ID3208518274,2019-02-12,Nickolson,"[('pearTV', 2), ('Olivia x460', 1), ('iAssist ...",22970.0,83.03,-37.802503,144.967428,15,19607.53,Summer,False,1.8010,great phone for the money. the price was right...,True
497,ORD252675,ID0589449505,2019-09-14,Nickolson,"[('Alcon 10', 2), ('Thunder line', 2), ('Unive...",34350.0,78.57,-37.809446,144.972736,15,29276.07,Spring,False,1.0563,"four stars very good olivia universe s5 , i wo...",True
498,ORD215989,ID6167357842,2019-09-16,Nickolson,"[('Candle Inferno', 2), ('Olivia x460', 1), ('...",6725.0,105.14,-37.807649,144.971370,15,5821.39,Spring,True,1.2289,great purchase!!! my twins love them!!,True
499,ORD414852,ID0634783923,2019-09-13,Thompson,"[('Candle Inferno', 2), ('Alcon 10', 2), ('iAs...",20985.0,76.99,-37.812930,144.937243,15,17914.24,Spring,False,0.8646,awesome perfect phone to keep connected with k...,True

In [475]:
df_missing_data['distance_to_nearest_warehouse'].sort_values().unique()

array([0.0549    , 0.0709    , 0.0774    , 0.1033    , 0.1114    ,
       0.1199    , 0.1218    , 0.1246    , 0.1428    , 0.1458    ,
       0.1489    , 0.1503    , 0.1719    , 0.1765    , 0.1801    ,
       0.1805    , 0.1868    , 0.195     , 0.2169    , 0.2195    ,
       0.2222    , 0.2225    , 0.2349    , 0.2486    , 0.2596    ,
       0.2862    , 0.2864    , 0.296     , 0.3024    , 0.3054    ,
       0.3104    , 0.322     , 0.3274    , 0.3285    , 0.3317    ,
       0.3352    , 0.3359    , 0.3422    , 0.3509    , 0.351     ,
       0.3516    , 0.3531    , 0.3585    , 0.361     , 0.3613    ,
       0.3805    , 0.3878    , 0.3884    , 0.391     , 0.3953    ,
       0.4122    , 0.4133    , 0.4241    , 0.4243    , 0.4244    ,
       0.4296    , 0.4297    , 0.4306    , 0.4357    , 0.4376    ,
       0.4425    , 0.443     , 0.4497    , 0.4659    , 0.4705    ,
       0.4714    , 0.4834    , 0.4963    , 0.4992    , 0.5011    ,
       0.5071    , 0.5135    , 0.5139    , 0.5281    , 0.5296    ,
       0.5304    , 0.5305    , 0.5443    , 0.5465    , 0.5576    ,
       0.5634    , 0.5696    , 0.5739    , 0.5849    , 0.5862    ,
       0.6048    , 0.6051    , 0.6085    , 0.6138    , 0.6217    ,
       0.6218    , 0.6219    , 0.6227    , 0.6336    , 0.6502    ,
       0.6512    , 0.6534    , 0.6544    , 0.6547    , 0.6621    ,
       0.6663    , 0.6671    , 0.6726    , 0.6742    , 0.676     ,
       0.677     , 0.6844    , 0.6856    , 0.6868    , 0.6913    ,
       0.6936    , 0.6994    , 0.7036    , 0.7075    , 0.7087    ,
       0.7127    , 0.7145    , 0.7148    , 0.7153    , 0.7163    ,
       0.7171    , 0.7233    , 0.7246    , 0.7307    , 0.733     ,
       0.7362    , 0.7367    , 0.7429    , 0.7446    , 0.7482    ,
       0.7494    , 0.7518    , 0.7549    , 0.7554    , 0.7582    ,
       0.7608    , 0.7628    , 0.7654    , 0.7675    , 0.7676    ,
       0.7736    , 0.7764    , 0.7774    , 0.7819    , 0.7875    ,
       0.7905    , 0.8089    , 0.8121    , 0.8139    , 0.8164    ,
       0.8187    , 0.82      , 0.8293    , 0.8359    , 0.8391    ,
       0.841     , 0.8422    , 0.8435    , 0.8468    , 0.8482    ,
       0.8492    , 0.8509    , 0.8515    , 0.8535    , 0.8557    ,
       0.8641    , 0.8646    , 0.8649    , 0.866     , 0.8678    ,
       0.878     , 0.8782    , 0.87908003, 0.8813    , 0.8814    ,
       0.8852    , 0.8876    , 0.8877    , 0.8882    , 0.8885    ,
       0.8893    , 0.8903    , 0.8927    , 0.8971    , 0.8982    ,
       0.9011    , 0.9013    , 0.9035    , 0.9048    , 0.9062    ,
       0.9134    , 0.9163    , 0.9184    , 0.9203    , 0.9209    ,
       0.9232    , 0.9247    , 0.9281    , 0.9285    , 0.9361    ,
       0.9362    , 0.9372    , 0.9395    , 0.9416    , 0.9458    ,
       0.9479    , 0.9557    , 0.9598    , 0.9611    , 0.9647    ,
       0.9653    , 0.9688    , 0.9796    , 0.9803    , 0.9806    ,
       0.9814    , 0.9827    , 0.9843    , 0.9859    , 0.986     ,
       0.9882    , 0.9914    , 1.0002    , 1.0014    , 1.0021    ,
       1.0034    , 1.0085    , 1.0095    , 1.0197    , 1.0198    ,
       1.0199    , 1.0207    , 1.0224    , 1.023     , 1.0261    ,
       1.0273    , 1.0301    , 1.0357    , 1.0373    , 1.0381    ,
       1.0389    , 1.0396    , 1.0413    , 1.0433    , 1.0434    ,
       1.0495    , 1.0552    , 1.0563    , 1.0573    , 1.0576    ,
       1.0577    , 1.0604    , 1.0614    , 1.0618    , 1.0619    ,
       1.0646    , 1.0648    , 1.0653    , 1.0681    , 1.0794    ,
       1.0847    , 1.0887    , 1.0891    , 1.0917    , 1.0928    ,
       1.0936    , 1.1       , 1.1019    , 1.102     , 1.1087    ,
       1.1134    , 1.1201    , 1.1244    , 1.1257    , 1.1313    ,
       1.1387    , 1.1429    , 1.1454    , 1.1544    , 1.1546    ,
       1.155     , 1.1594    , 1.1649    , 1.1688    , 1.1699    ,
       1.1719    , 1.1749    , 1.1751    , 1.176     , 1.1812    ,
       1.183     , 1.1869    , 1.1923    , 1.193     , 1.2009    ,
       1.2017    , 1.2038    , 1.2075    , 1.2092    , 1.2097    ,
       1.2135    , 1.2137    , 1.2221    , 1.2248    , 1.2255    ,
       1.2289    , 1.2423    , 1.2455    , 1.2469008 , 1.2545    ,
       1.2571    , 1.2575    , 1.2584    , 1.2633    , 1.2667    ,
       1.2674    , 1.2693    , 1.2708    , 1.2711    , 1.2716    ,
       1.272     , 1.2743    , 1.2748    , 1.2778    , 1.2783    ,
       1.28      , 1.2819    , 1.2881    , 1.2892    , 1.2935    ,
       1.2953    , 1.2971    , 1.3023    , 1.3038    , 1.3076    ,
       1.3132    , 1.3162    , 1.3189    , 1.3196    , 1.3266    ,
       1.3292    , 1.331     , 1.3342    , 1.342     , 1.3535    ,
       1.3539    , 1.3545    , 1.3562    , 1.3574    , 1.3594    ,
       1.3606    , 1.3627    , 1.3642    , 1.3689    , 1.3746    ,
       1.3772    , 1.3792    , 1.3799    , 1.3869    , 1.3904    ,
       1.3916    , 1.395     , 1.3989    , 1.3991    , 1.4019    ,
       1.4141    , 1.4169    , 1.4175    , 1.4185    , 1.4241    ,
       1.4257    , 1.429     , 1.4366    , 1.4461    , 1.4522    ,
       1.453     , 1.4674    , 1.4829    , 1.4844    , 1.4888    ,
       1.4917    , 1.4934    , 1.4941    , 1.4984    , 1.506     ,
       1.5146    , 1.5149    , 1.5177    , 1.5218    , 1.5352    ,
       1.5462    , 1.5615    , 1.5642    , 1.5645    , 1.5685    ,
       1.5693    , 1.5694    , 1.5714    , 1.5744    , 1.5769    ,
       1.5789    , 1.5819    , 1.591     , 1.6033    , 1.6054    ,
       1.6144    , 1.6239    , 1.6512    , 1.6514    , 1.6554    ,
       1.6598    , 1.6661    , 1.6858    , 1.6884    , 1.6941    ,
       1.6987    , 1.7014    , 1.7062    , 1.7063    , 1.707     ,
       1.7106    , 1.7285    , 1.7378    , 1.7397    , 1.7419    ,
       1.7442    , 1.7556    , 1.761     , 1.7617    , 1.7628    ,
       1.7652    , 1.7826    , 1.78622299, 1.7927    , 1.801     ,
       1.80483994, 1.8061    , 1.8136    , 1.8194    , 1.8209    ,
       1.8214    , 1.8248    , 1.8309    , 1.8333    , 1.8374    ,
       1.8431    , 1.8517    , 1.8572    , 1.8576    , 1.87059589,
       1.8728    , 1.8879    , 1.9032    , 1.90374263, 1.904     ,
       1.9267    , 1.9268    , 1.9325    , 1.9377    , 1.9499    ,
       1.9628    , 1.9824    , 1.9902    , 1.9965    , 2.0047    ,
       2.0232    , 2.0271    , 2.056     , 2.06      , 2.0678    ,
       2.0788    , 2.10068724, 2.1061    , 2.1245    , 2.1358    ,
       2.1445    , 2.1649    , 2.1738    , 2.1776    , 2.2212    ,
       2.2688    , 2.3245    , 2.6315    , 2.70397222, 2.80230602,
       2.82530537, 3.1388    ])

### missing 'distance_to_nearest_warehouse'

In [456]:
# checking the missing values for nearest_warehouse
distance_to_nearest_warehouse_indexto_update = df_missing_data[df_missing_data['distance_to_nearest_warehouse'].isnull()].index

for i in distance_to_nearest_warehouse_indexto_update:
    df_missing_data.at[i,'distance_to_nearest_warehouse'] = get_missing_nearest_warehouse(df_missing_data.at[i,'customer_lat'],df_missing_data.at[i,'customer_long'])[1]

In [457]:
# no more missing values for nearest_warehouse
df_missing_data[df_missing_data['distance_to_nearest_warehouse'].isnull()].index

Int64Index([], dtype='int64')

In [458]:
# check the indexes 'nearest_warehouse' --  all done
for i in nearest_warehouse_indexto_update:
    print(df_missing_data.at[i,'distance_to_nearest_warehouse'])

0.2169
1.1454
1.1544
1.0207
0.8885
1.5714
1.4257
3.1388
0.5139
0.4241

## Analyse
***

In [466]:
print(df_missing_data.columns)

Index(['order_id', 'customer_id', 'date', 'nearest_warehouse', 'shopping_cart',
       'order_price', 'delivery_charges', 'customer_lat', 'customer_long',
       'coupon_discount', 'order_total', 'season', 'is_expedited_delivery',
       'distance_to_nearest_warehouse', 'latest_customer_review',
       'is_happy_customer'],
      dtype='object')

## Visualise
***