# Kieran Molloy UCDPA Project CIDAB 2022-01-18
***

## Environment Information
***
<table align="left">
<tr>
    <th>Environment Type</th>
    <th>Anaconda Version</th>
    <th>Anaconda Build Channel</th>
    <th>Python Version</th>
</tr>
<tr>
    <td>Anaconda </td>
    <td>2021.11 </td>
    <td>py39_0 </td>
    <td>3.9.7 </td>
</tr>
</table>

## Datasource
***
<table align="left">
<tr>
    <td>https://www.kaggle.com/datasets/deepcontractor/unicorn-companies-dataset?select=Unicorn_Companies.csv</td>
</tr>
</table>

## Import Required Modules
***

In [ ]:
!pip install geonamescache
!pip install geotext

In [ ]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import re

import geonamescache #https://pypi.org/project/geonamescache/
from geotext import GeoText

## Variables
***

In [ ]:
csv = 'Unicorn_Companies.csv'

## Functions
***

In [ ]:
def fn_set_float(value):
    """remove non numeric string and convert numeric to float """
    if value == 'None' or value == 'NaN':
      pass
    elif re.search('[Mm]+',value):
        stripped = float(re.search(r'\d+',value).group())
        return stripped/1000
    elif re.search('[Kk]+',value):
        stripped = float(re.search(r'\d+',value).group())
        return stripped/100000
    else:
        stripped = float(re.search(r'\d+',value).group())
        return stripped

In [ ]:
def fn_set_int(value):
    """convert float to int"""
    if value == 'None' or value == 'NaN':
      pass
    else:
        toint = int(value)
        return toint

In [ ]:
def converttobillions(value):
      
    pass

In [ ]:
def function4():
    
    pass

## Initial CSV import 
***

In [ ]:
# read the CSV from the local Jupyter Notebook directory 
df_unicorn_companies_initial = pd.read_csv(csv)

## Inspect Data
***

In [ ]:
display(df_unicorn_companies_initial.head(10))

In [ ]:
# all columns are imported as object datatypes
print(df_unicorn_companies_initial.info())

In [ ]:
# determine if there are any isna missing values , none found
print(df_unicorn_companies_initial.isna().any())

In [ ]:
# determine if there are any isnull missing values , none found
print(df_unicorn_companies_initial.isnull().sum())

## Import CSV Data
***

In [1]:
# read_csv with some data manupilation on import , remove unwanted characters, change datatypes , change 'None' to na_values
df_unicorn_companies = pd.read_csv(csv, parse_dates=['Date Joined'], na_values='None',converters={'Valuation ($B)':fn_set_float,'Total Raised': fn_set_float}, dtype={'Founded Year': 'Int64','Investors Count': 'Int64','Deal Terms': 'Int64','Portfolio Exits': 'Int64'})

NameError: name 'pd' is not defined

In [ ]:
# re-check datatypes , all seem preferred
print(df_unicorn_companies.info())

In [ ]:
x=df_unicorn_companies.head(1000).sort_values('Total Raised')
x[x['Company'] == 'Elemy']

In [ ]:
# re-check for NaN / None
print(df_unicorn_companies.isna().any())

In [ ]:
# re-check count of NaN / None
df_unicorn_companies.isnull().sum()

In [ ]:
# using display instead for print for better formatting in Notebook only .. understood print is preferable in commandline
display(df_unicorn_companies)

## Clean Data
***

In [ ]:
# get the index and row label of the Dataframe
print(df_unicorn_companies.index)

In [ ]:
# using display instead for print for better formatting in Notebook only .. understood print is preferable in commandline
# Company column showing as Index 
display(df_unicorn_companies)

In [ ]:
# rename 'Select Inverstors' column name typo and 'Total Raised' added $B to column name in Dataframe 
df_unicorn_companies.rename(columns = {'Select Inverstors':'Select Investors','Total Raised':'Total Raised($B)'}, inplace = True)
# show both renames successful
display(df_unicorn_companies)

In [ ]:
# determine if there are any full row duplicates
duplicateRows = df_unicorn_companies[df_unicorncompanies.duplicated()]
# None found
display(duplicateRows)

In [ ]:
# determine if there are any unicorn company name duplicates
duplicateRows = df_unicorn_companies[df_unicorncompanies.duplicated(['Company'])]
display(duplicateRows['Company'])

In [ ]:
# determine if there are Company Name duplicates 
duplicateCompanies = df_unicorn_companies['Company'].isin(['Bolt','Fabric'])
display(df_unicorn_companies[duplicateCompanies])

In [ ]:
# rename Bolt to 'Bolt Financial' at index 37
df_unicorn_companies.at[37,'Company'] = 'Bolt Financial'

In [ ]:
# rename Fabric to 'Get Fabric' at index 976
df_unicorn_companies.at[976,'Company'] = 'Get Fabric'

In [ ]:
# check country names for accurate grouping
countryname = df_unicorn_companies['Country'].sort_values().unique()
display(countryname)

In [ ]:
# check city names for accurate grouping
countryname = df_unicorncompanies['City'].sort_values().unique()

# from geotext import GeoText

# for name in countryname:
    # print(geotext.GeoText(name).cities)
    
for index, row in df_unicorn_companies.iterrows():
  print(row['Company'] ,row['City'] , row["Country"])

In [ ]:
# check city names for accurate grouping
countryname = df_unicorn_companies['City'].sort_values().unique()

for name in countryname: 
    print(name)

In [ ]:
# check industry cvalues for grouping
countryname = df_unicorn_companies['Industry'].sort_values().unique()
display(countryname)

In [ ]:
# check industry cvalues for grouping

df_unicorn_companies[df_unicorn_companies['Founded Year'].isna()]

## Analyse
***

In [ ]:
# set an index column
df_unicorn_companies.set_index('Company',inplace=True)

In [ ]:
# sort Valuation descending 
df_unicorn_companies.sort_values('Valuation ($B)', ascending=False, inplace=True)

In [ ]:
# sort sum of Valuation descending buy country
df_unicorn_companies.groupby('Country')['Valuation ($B)'].sum().sort_values(ascending=False)

In [ ]:
# sort sum of Valuation descending buy country
df_unicorn_companies.groupby('Industry')['Valuation ($B)'].sum().sort_values(ascending=False)

## Visualise
***