# Kieran Molloy UCDPA Project CIDAB 2022-01-18
***

## Environment Information
***
<table align="left">
<tr>
    <th>Environment Type</th>
    <th>Anaconda Version</th>
    <th>Anaconda Build Channel</th>
    <th>Python Version</th>
</tr>
<tr>
    <td>Anaconda </td>
    <td>2021.11 </td>
    <td>py39_0 </td>
    <td>3.9.7 </td>
</tr>
</table>

## Datasource
***
<table align="left">
<tr>
    <td>https://www.kaggle.com/datasets/deepcontractor/unicorn-companies-dataset?select=Unicorn_Companies.csv</td>
</tr>
</table>

## Import Required Modules
***

In [ ]:
#!pip install geonamescache
#!pip install geotext

#!pip install geopy

In [ ]:
from matplotlib import pyplot as plt
from IPython.display import display

import pandas as pd
import numpy as np
import seaborn as sns
import re

import geonamescache #https://pypi.org/project/geonamescache/
from geotext import GeoText

## Variables
***

In [ ]:
csv = 'Unicorn_Companies.csv'

## Functions
***

In [ ]:
def fn_set_float(value):
    """remove non numeric string and convert numeric to float """
    if value == 'None' or value == 'NaN':
      pass
    elif re.search('[Mm]+',value):
        stripped = float(re.search(r'\d+',value).group())
        return stripped/1000
    elif re.search('[Kk]+',value):
        stripped = float(re.search(r'\d+',value).group())
        return stripped/100000
    else:
        stripped = float(re.search(r'\d+',value).group())
        return stripped

In [ ]:
def fn_set_int(value):
    """convert float to int"""
    if value == 'None' or value == 'NaN':
      pass
    else:
        toint = int(value)
        return toint

In [ ]:
def converttobillions(value):
      
    pass

In [ ]:
def function4():
    
    pass

## Initial CSV import 
***

In [ ]:
# read the CSV from the local Jupyter Notebook directory 
df_unicorn_companies_initial = pd.read_csv(csv)

## Inspect Data
***

In [ ]:
display(df_unicorn_companies_initial.head(10))

In [ ]:
# all columns are imported as object datatypes
print(df_unicorn_companies_initial.info())

In [ ]:
# determine if there are any isna missing values , none found
print(df_unicorn_companies_initial.isna().any())

In [ ]:
# determine if there are any isnull missing values , none found
print(df_unicorn_companies_initial.isnull().sum())

## Import CSV Data
***

In [ ]:
# read_csv with some data manupilation on import , remove unwanted characters, change datatypes , change 'None' to na_values
df_unicorn_companies = pd.read_csv(csv, parse_dates=['Date Joined'], na_values='None',converters={'Valuation ($B)':fn_set_float,'Total Raised': fn_set_float}, dtype={'Founded Year': 'Int64','Investors Count': 'Int64','Deal Terms': 'Int64','Portfolio Exits': 'Int64'})

In [ ]:
# re-check datatypes , all seem preferred
print(df_unicorn_companies.info())

In [ ]:
# re-check for NaN / None
print(df_unicorn_companies.isna().any())

In [ ]:
# re-check count of NaN / None
df_unicorn_companies.isnull().sum()

In [ ]:
# using display instead of print for better formatting in Notebook only .. understood print is preferable in commandline
display(df_unicorn_companies)

## Clean Data
***

In [ ]:
# get the index and row label of the Dataframe
print(df_unicorn_companies.index)

In [ ]:
# using display instead for print for better formatting in Notebook only .. understood print is preferable in commandline
# Company column showing as Index 
display(df_unicorn_companies)

In [ ]:
# rename 'Select Inverstors' column name typo and 'Total Raised' added $B to column name in Dataframe 
df_unicorn_companies.rename(columns = {'Select Inverstors':'Select Investors','Total Raised':'Total Raised($B)'}, inplace = True)
# show both renames successful
display(df_unicorn_companies)

In [ ]:
# determine if there are any full row duplicates
duplicateRows = df_unicorn_companies[df_unicorn_companies.duplicated()]
# None found
display(duplicateRows)

In [ ]:
# determine if there are any unicorn company name duplicates
duplicateRows = df_unicorn_companies[df_unicorn_companies.duplicated(['Company'])]
display(duplicateRows['Company'])

In [ ]:
# determine if there are Company Name duplicates 
duplicateCompanies = df_unicorn_companies['Company'].isin(['Bolt','Fabric'])
display(df_unicorn_companies[duplicateCompanies])

In [ ]:
# rename Bolt to 'Bolt Financial' at index 37
df_unicorn_companies.at[37,'Company'] = 'Bolt Financial'

In [ ]:
# rename Fabric to 'Get Fabric' at index 976
df_unicorn_companies.at[976,'Company'] = 'Get Fabric'
# re-run search for company duplicates

In [109]:
df_unicorn_companies

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Founded Year,Total Raised($B),Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,7.000,IPO,28,8,5
1,SpaceX,100.0,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,6.000,NaN,29,12,<NA>
2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,2.000,Asset,39,12,1
3,Klarna,45.0,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,3.000,Acquired,56,13,1
4,Epic Games,42.0,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,4.000,Acquired,25,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,Timescale,1.0,2022-02-22,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,0.181,NaN,7,2,<NA>
1033,Scalapay,1.0,2022-02-23,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,0.700,NaN,10,2,<NA>
1034,Omada Health,1.0,2022-02-23,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,0.449,NaN,30,6,<NA>
1035,BlueVoyant,1.0,2022-02-23,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,0.525,NaN,6,2,<NA>
1036,Veev,1.0,2022-02-24,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,0.604,NaN,11,1,<NA>

In [ ]:
# check country names for spelling for accurate grouping
countryname = df_unicorn_companies['Country'].sort_values().unique()
display(countryname)

In [ ]:
df_unicorn_companies[(df_unicorn_companies['Select Investors'].isnull()) & (~df_unicorn_companies['Country'].isin(['China','Bahamas']))]

In [ ]:
# check city names for accurate grouping
# if we look at the values for city where 'Select Investors' are NaN , it looks like the data is left shifted i.e city value is Industry value etc.
# it could be where City and Country are the same this issue arises i.e Hong Kong and Singapore : China and Bahamas are excepetions
# if country value --> copied to City --> city value copied to Industry Value --> Industry Value copied to Select Investors
nan_investors = df_unicorn_companies[(df_unicorn_companies['Select Investors'].isnull()) & (~df_unicorn_companies['Country'].isin(['China','Bahamas']))]
# 'Country' --> 'City' , 'City' --> 'Industry' ,  Industry' --> 'Select Investors'
display(nan_investors)

In [ ]:
# country - Bahamas , city - Nassau
# country - Singapore , city - Singapore
# country - Hong Kong , city - Hong Kong
# change by country 

# do Singapore and Hong Kong first
indexto_shift = shifted_columns[shifted_columns['Country'].isin(['Singapore','Hong Kong'])].index
indexto_shift

In [ ]:
# Copy 'Industry' to 'Select Investors' 
for i in indexto_shift:
    df_unicorn_companies.at[i,'Select Investors'] = df_unicorn_companies.at[i,'Industry']
# Copy 'City' to 'Industry'
for i in indexto_shift:
    df_unicorn_companies.at[i,'Industry'] = df_unicorn_companies.at[i,'City']
# Copy 'Country' to 'City'  
for i in indexto_shift:
    df_unicorn_companies.at[i,'City'] = df_unicorn_companies.at[i,'Country']

In [ ]:
# check singapore and Hong Kong are ok 
df_unicorn_companies[(df_unicorn_companies['Country'].isin(['Singapore','Hong Kong']))]
# Country 	City 	Industry 	Select Investors are all correct now.

In [108]:
df_unicorn_companies[(df_unicorn_companies['Select Investors'].isnull()) & (df_unicorn_companies['Country'].isin(['China','Bahamas']))]

Empty DataFrame
Columns: [Company, Valuation ($B), Date Joined, Country, City, Industry, Select Investors, Founded Year, Total Raised($B), Financial Stage, Investors Count, Deal Terms, Portfolio Exits]
Index: []

In [105]:
# googled investors for index 789 , company: LinkSure Network - 'Northern Light Venture Capital' 
df_unicorn_companies.at[789,'Select Investors'] = 'Northern Light Venture Capital'

In [ ]:
# next to update is index 10  , company: FTX 
# Country 	City 	Industry 	

i = 10
# Copy 'Industry' to 'Select Investors' 
df_unicorn_companies.at[i,'Select Investors'] = df_unicorn_companies.at[i,'Industry']

# Copy 'City' to 'Industry'
df_unicorn_companies.at[i,'Industry'] = df_unicorn_companies.at[i,'City']

# set City to Nassau
df_unicorn_companies.at[i,'City'] = 'Nassau'

In [111]:
# check if the above changes have been effective 
df_unicorn_companies[df_unicorn_companies['Country'].isin(['China','Bahamas','Singapore','Hong Kong'])]
# Country 	City 	Industry 	Select Investors are all correct now.

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Founded Year,Total Raised($B),Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,7.000,IPO,28,8,5
10,FTX,32.0,2021-07-20,Bahamas,Nassau,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",2018,1.000,Acq,40,3,1
14,Xiaohongshu,20.0,2016-03-31,China,Shanghai,E-commerce & direct-to-consumer,"GGV Capital, ZhenFund, Tencent",2013,0.917,NaN,9,3,<NA>
17,Yuanfudao,15.0,2017-05-31,China,Beijing,Edtech,"Tencent Holdings, Warbug Pincus, IDG Capital",2012,4.000,Acquired,18,7,1
18,DJI Innovations,15.0,2015-01-23,China,Shenzhen,Hardware,"Accel Partners, Sequoia Capital",2006,1.000,NaN,7,3,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,Moka,1.0,2021-11-02,China,Beijing,Internet software & services,"GGV Capital, GSR Ventures, FreesFund",2015,0.142,NaN,8,2,<NA>
979,Tezign,1.0,2021-11-02,China,Shanghai,Internet software & services,"Sequoia Capital China, Linear Venture, Hearst ...",2015,0.110,NaN,14,1,<NA>
986,Gaussian Robotics,1.0,2021-11-10,China,Shanghai,Hardware,"BlueRun Ventures, Grand Flight Investment, Mei...",2013,0.287,NaN,17,1,<NA>
1011,Haomao.AI,1.0,2021-12-22,China,Beijing,Artificial Intelligence,"Qualcomm Ventures, Nine Intelligence Capital, ...",2019,0.203,NaN,7,1,<NA>
1014,ONE,1.0,2021-12-08,Singapore,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investm...",2011,0.486,NaN,11,1,<NA>

In [124]:
# check country names for spelling for accurate grouping
industryname = df_unicorn_companies['Industry'].sort_values().unique()
display(industryname)
#  shows Fintech and AI have two entries each

array(['Artificial Intelligence', 'Auto & transportation',
       'Consumer & retail', 'Cybersecurity',
       'Data management & analytics', 'E-commerce & direct-to-consumer',
       'Edtech', 'Fintech', 'Hardware', 'Health',
       'Internet software & services', 'Mobile & telecommunications',
       'Other', 'Supply chain, logistics, & delivery', 'Travel'],
      dtype=object)

In [ ]:
# check country names for spelling for accurate grouping
industryname = df_unicorn_companies['Industry'].sort_values().unique()
display(industryname)
#  shows Fintech and AI have spelling

In [122]:
# df_unicorn_companies[df_unicorn_companies['Industry'].isin(['Artificial Intelligence','Artificial intelligence'])]

df_unicorn_companies['Industry'] = df_unicorn_companies['Industry'].replace(to_replace=['Artificial Intelligence','Artificial intelligence'],  value='Artificial Intelligence')
df_unicorn_companies['Industry'] = df_unicorn_companies['Industry'].replace(to_replace=['Fintech','Finttech'],  value='Fintech')

In [123]:
df_unicorn_companies[df_unicorn_companies['Industry'].isin(['Artificial Intelligence','Artificial intelligence','Fintech','Finttech'])]
# 'Artificial Intelligence','Artificial intelligence','Fintech','Finttech' have been replaced with 'Fintech' and 'Artificial Intelligence'

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Founded Year,Total Raised($B),Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,7.000,IPO,28,8,5
2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,2.000,Asset,39,12,1
3,Klarna,45.0,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,3.000,Acquired,56,13,1
6,Checkout.com,40.0,2019-05-02,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST...",2012,1.000,NaN,15,4,<NA>
9,Revolut,33.0,2018-04-26,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",2015,1.000,NaN,31,6,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018,Placer.ai,1.0,2022-01-12,United States,Los Altos,Artificial Intelligence,"Fifth Wall Ventures, JBV Capital, Array Ventures",2016,0.166,NaN,19,1,<NA>
1023,Esusu,1.0,2022-01-27,United States,New York,Fintech,"Next Play Ventures, Zeal Capital Partners, Sof...",2015,0.144,NaN,25,1,<NA>
1024,Betterfly,1.0,2022-02-01,Chile,Santiago,Artificial Intelligence,"QED Investors, DST Global, Endeavor",2018,0.202,NaN,13,1,<NA>
1027,Payhawk,1.0,2022-02-14,United Kingdom,London,Fintech,"Earlybird Venture Capital, Eleven Ventures, QE...",2018,0.236,NaN,15,2,<NA>
1033,Scalapay,1.0,2022-02-23,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,0.700,NaN,10,2,<NA>

In [129]:
df_unicorn_companies[df_unicorn_companies['Founded Year'].isnull()]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Founded Year,Total Raised($B),Financial Stage,Investors Count,Deal Terms,Portfolio Exits
39,Weilong,10.0,2021-05-08,China,Luohe,Consumer & retail,"Tencent Holdings, Hillhouse Capital Management...",<NA>,0.5590,NaN,7,1,<NA>
74,Hopin,7.0,2020-11-10,United Kingdom,London,Internet software & services,"Accel, Northzone Ventures, Institutional Ventu...",<NA>,0.6710,NaN,85,3,<NA>
81,Argo AI,7.0,2019-07-12,United States,Pittsburgh,Artificial Intelligence,"Volkswagen Group, Ford Autonomous Vehicles",<NA>,0.5000,NaN,2,1,<NA>
94,Ola Cabs,7.0,2014-10-27,India,Bengaluru,Auto & transportation,"Accel Partners, SoftBank Group, Sequoia Capital",<NA>,NaN,NaN,8,<NA>,<NA>
124,C6 Bank,5.0,2020-12-02,Brazil,Sao Paulo,Fintech,Credit Suisse,<NA>,0.7550,NaN,16,6,<NA>
146,Chipone,4.0,2021-12-20,China,Beijing,Hardware,"China Grand Prosperity Investment, Silk Road H...",<NA>,1.0000,NaN,30,1,<NA>
170,SSENSE,4.0,2021-06-08,Canada,Montreal,E-commerce & direct-to-consumer,Sequoia Capital,<NA>,0.4150,NaN,12,2,<NA>
175,CRED,4.0,2021-04-06,India,Bengaluru,Fintech,"Tiger Global Management, DST Global, Sequoia C...",<NA>,0.6130,NaN,18,5,<NA>
184,Zapier,4.0,2021-01-14,United States,Sunnyvale,Internet software & services,"Sequoia Capital, Bessemer Venture Partners, Th...",<NA>,0.0020,NaN,6,1,<NA>
185,Clubhouse,4.0,2021-01-24,United States,San Francisco,Mobile & telecommunications,"Andreessen Horowitz, TQ Ventures",<NA>,0.0020,NaN,6,1,<NA>
342,Paxos,2.0,2021-04-29,United States,New York,Fintech,"Liberty City Ventures, RRE Ventures, Mithril C...",<NA>,NaN,NaN,1,<NA>,<NA>
391,Tubatu.com,2.0,2015-03-09,China,Shenzhen,E-commerce & direct-to-consumer,"Sequoia Capital China, Matrix Partners China, ...",<NA>,0.2160,NaN,3,1,<NA>
449,Netlify,2.0,2021-11-17,United States,San Francisco,Internet software & services,"Andreessen Horowitz, Kleiner Perkins Caufield ...",<NA>,0.2110,NaN,15,2,<NA>
461,eDaili,1.0,2019-02-01,China,Shanghai,E-commerce & direct-to-consumer,"K2VC, Lightspeed China Partners, Sky9 Capital",<NA>,0.0010,NaN,8,2,<NA>
481,Harness,1.0,2021-01-14,United States,San Francisco,Artificial Intelligence,"Menlo Ventures, Alkeon Capital Management, Cit...",<NA>,NaN,NaN,2,<NA>,<NA>
485,Wave,1.0,2021-09-07,Senegal,Dakar,Fintech,"Stripe, Founders Fund, Partech Partners",<NA>,0.0046,NaN,2,<NA>,<NA>
501,Zhubajie,1.0,2015-06-16,China,Chongqing,Internet software & services,"Cybernaut Growth Fund, IDG Capital",<NA>,0.4290,NaN,3,1,<NA>
526,Carzone,1.0,2019-03-01,China,Jiangsu,E-commerce & direct-to-consumer,"Alibaba Group,Co-Stone Venture Capital, Buhuo ...",<NA>,0.9460,NaN,13,1,<NA>
532,Changingedu,1.0,2017-10-30,China,Shanghai,Edtech,"Trustbridge Partners, IDG Capital, Sequoia Cap...",<NA>,0.1880,NaN,6,1,<NA>
541,Uplight,1.0,2021-03-03,United States,Boulder,Other,"Rubicon Technology Partners, Max Ventures, Inc...",<NA>,0.2780,NaN,19,1,<NA>
608,Coda,1.0,2021-07-08,United States,Mountain View,Internet software & services,"Greylock Partners, General Catalyst, Khosla Ve...",<NA>,0.4950,NaN,18,7,<NA>
620,Veepee,1.0,2007-07-20,France,La Plaine Saint-Denis,E-commerce & direct-to-consumer,"Summit Partners, Qatar Holding",<NA>,0.2020,NaN,5,2,<NA>
640,You & Mr Jones,1.0,2019-11-19,United States,New York,Other,Undisclosed,<NA>,1.0000,NaN,10,5,<NA>
661,WTOIP,1.0,2018-04-08,China,Guangzhou,Internet software & services,"Dark Horse Technology Group, Hopu Investment M...",<NA>,0.3060,NaN,11,1,<NA>
680,Fair,1.0,2018-12-20,United States,Santa Monica,Auto & transportation,"CreditEase Fintech Investment Fund, BMW i Vent...",<NA>,0.0200,NaN,<NA>,1,<NA>
689,Pilot.com,1.0,2021-03-26,United States,San Francisco,Fintech,"Index Ventures, Sequoia Capital, Bezos Expedit...",<NA>,NaN,NaN,1,<NA>,<NA>
733,Elemy,1.0,2021-10-06,United States,San Francisco,Health,"General Catalyst, Bling Capital, Felicis Ventures",<NA>,0.0001,NaN,1,<NA>,<NA>
752,Qingting FM,1.0,2021-06-02,China,Shanghai,Internet software & services,"China Culture Industrial Investment Fund, We C...",<NA>,0.1630,NaN,16,2,<NA>
772,56PINGTAI,1.0,2021-01-25,China,Shanghai,"Supply chain, logistics, & delivery","QF Capital, QC Capital, Unicom Innovation Vent...",<NA>,0.1870,NaN,11,1,<NA>
793,JimuBox,1.0,2015-04-21,China,Beijing,Fintech,"Matrix Partners China, Ventech China, Shunwei ...",<NA>,0.1310,NaN,10,<NA>,<NA>
824,Kuaigou Dache,1.0,2018-07-13,China,Tianjin,"Supply chain, logistics, & delivery","Sequoia Capital China, InnoVision Capital, Qia...",<NA>,0.6500,NaN,9,1,<NA>
851,Numbrs,1.0,2019-08-22,Switzerland,Zurich,Fintech,"Investment Corporation of Dubai, Centralway",<NA>,0.1270,NaN,6,2,<NA>
863,Socar,1.0,2020-10-16,South Korea,Jeju-do,Auto & transportation,"Bain Capital, Altos Ventures, Songhyun Investment",<NA>,0.1000,NaN,9,1,<NA>
889,Hyperchain,1.0,2021-04-11,China,Hangzhou,Fintech,"Yinhong Equity Investment Fund, E Fund, Ideal ...",<NA>,0.2490,NaN,14,2,<NA>
896,SaltPay,1.0,2021-04-23,United Kingdom,London,Fintech,"Tiger Global Management, Hedosophia",<NA>,0.1560,NaN,20,4,<NA>
908,Amount,1.0,2021-05-17,United States,Chicago,Fintech,"Invus Group, Hanaco Venture Capital, WestCap G...",<NA>,0.1870,NaN,9,2,<NA>
911,Matrixport,1.0,2021-06-01,Singapore,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS...",<NA>,0.1260,NaN,22,1,<NA>
935,Carson Group,1.0,2021-07-14,United States,Lincoln,Fintech,Bain Capital,<NA>,NaN,NaN,9,1,<NA>
949,PicsArt,1.0,2021-08-26,United States,San Francisco,Mobile & telecommunications,"Sequoia Capital, DCM Ventures, Insight Partners",<NA>,0.1750,NaN,9,4,<NA>
955,Mammoth Biosciences,1.0,2021-09-09,United States,Brisbane,Health,"NFX, Plum Alley, Mayfield",<NA>,NaN,NaN,1,<NA>,<NA>
956,Orchard,1.0,2021-09-09,United States,New York,Fintech,"Accomplice, Juxtapose, FirstMark Capital",<NA>,NaN,NaN,1,<NA>,<NA>
990,Stytch,1.0,2021-11-18,United States,San Francisco,Cybersecurity,"Index Ventures, Benchmark, Thrive Capital",<NA>,0.1260,NaN,11,3,<NA>
1028,Watershed,1.0,2022-02-08,United States,San Francisco,Internet software & services,"Kleiner Perkins Caufield & Byers, Sequoia Capital",<NA>,0.0700,NaN,4,1,<NA>

In [103]:
for index, row in nan_investors.iterrows():
    print(index, ': ', row['Country'], 'value should be copied to', row['City'], 'value should be copied to', row['Industry'],'value should be copied to', row['Select Investors'])

217 :  Singapore value should be copied to Mobile & telecommunications value should be copied to Kuang-Chi value should be copied to nan
292 :  Hong Kong value should be copied to Fintech value should be copied to Tiger Global Management, Tiger Brokers, DCM Ventures value should be copied to nan
318 :  Singapore value should be copied to E-commerce & direct-to-consumer value should be copied to Jungle Ventures, Accel, Venture Highway value should be copied to nan
438 :  Singapore value should be copied to Artificial intelligence value should be copied to Vision Plus Capital, GSR Ventures, ZhenFund value should be copied to nan
639 :  Singapore value should be copied to Artificial intelligence value should be copied to Hopu Investment Management, Boyu Capital, DC Thomson Ventures value should be copied to nan
757 :  Singapore value should be copied to E-commerce & direct-to-consumer value should be copied to 500 Global, Rakuten Ventures, Golden Gate Ventures value should be copied to nan
814 :  Hong Kong value should be copied to Fintech value should be copied to Sequoia Capital China, ING, Alibaba Entrepreneurs Fund value should be copied to nan
882 :  Singapore value should be copied to Internet software & services value should be copied to Sequoia Capital China, Shunwei Capital Partners, Qualgro value should be copied to nan
911 :  Singapore value should be copied to Fintech value should be copied to Dragonfly Captial, Qiming Venture Partners, DST Global value should be copied to nan
916 :  Singapore value should be copied to E-commerce & direct-to-consumer value should be copied to SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures value should be copied to nan
928 :  Singapore value should be copied to Fintech value should be copied to Mundi Ventures, Doqling Capital Partners, Activant Capital value should be copied to nan
939 :  Singapore value should be copied to Fintech value should be copied to Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures value should be copied to nan
951 :  Hong Kong value should be copied to E-commerce & direct-to-consumer value should be copied to Andreessen Horowitz, DST Global, IDG Capital value should be copied to nan
963 :  Singapore value should be copied to Supply chain, logistics, & delivery value should be copied to B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution value should be copied to nan
1014 :  Singapore value should be copied to Internet software & services value should be copied to Temasek, Guggenheim Investments, Qatar Investment Authority value should be copied to nan

In [ ]:
# check city names for accurate grouping
countryname = df_unicorn_companies['City'].sort_values().unique()

for name in countryname: 
    print(name)

In [ ]:
# check industry cvalues for grouping
countryname = df_unicorn_companies['Industry'].sort_values().unique()
display(countryname)

In [ ]:
# check industry cvalues for grouping
df_unicorn_companies[df_unicorn_companies['Founded Year'].isna()]

## Analyse
***

In [ ]:
# set an index column
df_unicorn_companies.set_index('Company',inplace=True)

In [ ]:
# sort Valuation descending 
df_unicorn_companies.sort_values('Valuation ($B)', ascending=False, inplace=True)

In [ ]:
# sort sum of Valuation descending buy country
df_unicorn_companies.groupby('Country')['Valuation ($B)'].sum().sort_values(ascending=False)

In [ ]:
# sort sum of Valuation descending buy country
df_unicorn_companies.groupby('Industry')['Valuation ($B)'].sum().sort_values(ascending=False)

## Visualise
***